# Build process byproducts
.tup/
_obj/
cc/
go.sum

# Build output
build-*/
linux
linuxd
windows.exe
windowsd.exe

# Local configuration
keys/
static/
tls/
webapp.cfg
webapp.db

# Local garbage
notes/
*.txt
