*, html, body {
	font-family: sans-serif;
}

header, footer, article {
	margin: 5px;
}

header#username, header#home, footer#gh, article > h1:first-child {
	float: left;
}

hr {
	width: 50%;
	clear: both;
}

tt, span#user {
	font-family: "Monaspace Krypton Var", monospace
}

h1 + a {
	float: left;
	margin-top: 22px;
	margin-left: 10px;
	font-size: smaller;
}

p.clearer {
	clear: both;
}
